body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: #8E00FF;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.app {
  padding: 40px;
}

.title-bar {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 20px;
}

.logo {
  height: 100px;
  width: 100px;
  object-fit: contain;
}

.title {
  font-size: 4rem;
  color: #8E00FF;
  font-weight: 500;
  margin-bottom: 10px;
}


.main-content {
  background-color: #111111;
  border: 1px solid #333;
  border-radius: 12px;
  padding: 20px;
  height: 500px;
  overflow-y: auto;
}

h2 {
  color: #8E00FF;
  font-size: 2rem;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #1a1a1a;
  padding: 12px 16px;
  margin-bottom: 12px;
  border-radius: 8px;
  font-size: 1.1rem;
  display: flex;
  justify-content: space-between;
  color: #dcdcdc;
}

.scan-table {
  width: 100%;
  border-collapse: collapse;
  color: #ccc;
  font-size: 1.1rem;
}

.scan-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1.1rem;
  color: #6e36c2;
  font-weight: bold;
}

.scan-table th,
.scan-table td {
  text-align: left;
  padding: 12px 16px;
  color: #6e36c2;
  font-weight: bold;
}


.scan-table th {
  font-weight: 800;
  font-size: 1.3rem;
  color: #8E00FF;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  border-bottom: 1px solid #333;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #111; /* scrollbar background */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #6e36c2; /* scrollbar thumb color */
  border-radius: 10px;
  border: 2px solid #000; /* for spacing effect */
}

::-webkit-scrollbar-thumb:hover {
  background: #8E00FF; /* brighter on hover */
}

.scan-title {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
}

.spinner {
  width: 20px;
  height: 20px;
  border: 3px solid #6e36c2;
  border-top: 3px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.subtitle {
  margin-top: 4px;
  font-size: 1.1rem;
  font-weight: 400;
  color: #6e36c2;
  letter-spacing: 0.3px;
  font-weight: bold;
}